
body{
  font-size: 16;
  line-height: 1.5;
  background-color:cornsilk;
  background-image: url("sostenible.png");
  background-repeat:no-repeat ;
  background-position: right;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Open Sans', sans-serif;}

p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}

.span{
  color: red;
  display: none;
}

h2{
  color:darkslategrey ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24;
  margin-top: 0;

}

table{
  table{
    background-color: lightgreen;
    border-radius: 10px;
    border-color:darkseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: auto;
    border-radius: 5px;
    align-items: center;
  }
}
th, td {
  padding: 10px; /* Añadir espacio entre celdas */
  text-align: left; /* Alinear el texto a la izquierda */
  border: 1px solid #ddd; /* Borde fino gris */
}


label{
  padding-bottom: 50px;
}

button{
  background-color: darkolivegreen;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer
}

th{
  background-color: rgb(101, 117, 72);
  color: white;
}

#iniciarCuestionario {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
  transition: all 0.3s ease; 
}

#iniciarCuestionario:hover {
  animation: pulsate 1.5s ease-in-out infinite alternate; 
  background-color: #3e8e41; 
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.Preg {
  border: 1px solid #ccc;
  background-color: #91bd84;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

#contenido-grado-cuatro, #contenido-grado-tres,
#contenido-grado-dos, #contenido-grado-uno{
  display: none;
}

ol{
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

ol li {
  padding-bottom: 5px;
}

ol li::marker{
  font-weight: bold;
}

td p{
  padding-left: 5%;
  padding-right: 5%;
}

#Port {
    color:white ;
    background-color: rgb(106, 145, 55);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    word-spacing: 10px;
    border-radius: 20px;
}
#Port1 {
  color: white;
  background-color: rgb(179, 196, 156);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-align: center;
  word-spacing: 5px;
  border-radius: 20px;
}

#Port1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#Port1 li {
  display: inline-block;
  margin-right: 15px;
}
        #cosa {
          animation: resaltar 1s infinite alternate;
          font-size: 23px;
          border-radius: 20px;
          color: black;
          font-weight: bold;
      }
      @keyframes resaltar {
          from {
              background-color: rgb(89, 212, 150);
          }
          to {
              background-color: transparent;
          }
      }

      
      #negro {
        font-weight: 700;
      }